/*--------------------------------*/
/*BASIC SETUP*/
/*---------------------------------*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', 'sans-serif';
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

.row {
    max-width: 1140px;
    margin: 0 auto;

}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

h1 {
    margin: 0;
    color: #fff;
    font-size: 240%;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
    word-spacing: 3px;
    margin-bottom: 20px;
}

h2 {
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 108%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 20px;

}

h2::after {
    content: " ";
    display: block;
    height: 2px;
    background: orange;
    width: 100px;
    margin: auto;
    margin-top: 30px;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    color: #fff;
    transition: background 0.2s;
}

.btn:hover,
.btn:active {
    background: #cf6d17;
}

.btn-full:link,
.btn-full:visited {
    background: #e67e22;
    border: 1px solid #e67e22;

}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn-ghost:hover {
    color: #fff;
}

.logo {
    height: 100px;
    width: auto;
    margin-top: 20px;
    float: left;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;

}

.main-nav li a:link,
.main-nav li a:visited {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    padding: 8px 0;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {

    border-bottom: 2px solid #e67e22;
}

section {
    padding: 80px 0;
}

.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
    text-align: center;
}

.box {
    padding: 1%;
}

h3 {
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 110%;
    margin-bottom: 15px;
}

.box p {
    line-height: 145%;
    font-size: 90%;
}

.icon-big {
    font-size: 350%;
    text-align: center;
    display: block;
    color: orange;
    margin-bottom: 10px;
}
.meals-showcase{
    list-style: none;
    width: 100%;
}
.meals-showcase li{
    display: block;
    float: left;
    width: 25%;
    
}
.meal-photo{
    width: 100%;
    overflow: hidden;
    background: #000;
    
}
.meal-photo img{
    opacity: 0.7;
    transform: scale(1.15);
    width: 100%;
    transition: transform 0.5s, opacity 0.5s;
}
.section-meals{
    padding: 0;
}
.meal-photo img:hover{
    opacity: 1;
    transform: scale(1.03);
}
section-features .long-copy{
    margin-bottom: 35px;
}
.steps-box{
    margin-top: 30px;
}
.steps-box::first-child{
    text-align: right;
    padding-right: 3%;
}
.steps-box::last-child{
    padding-left: 3%;
}
.app-screen{
    width: 40%;
    margin-left: 40%;
    margin-top: 0px;
}
.works-step{
    margin-bottom: 50px;
}
.works-step div{
    color: #e67e22;
    border: 2px solid #e67e22;
    display: inline-block;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 150%;
    margin-right: 25px;
    
}
.btn-app img{
    height: 50px;
    margin-top: 20px;
}
.section-steps{
    background: #d6d6d6;
}


.box img{
width: 100%;
margin-bottom: 15px;
}

.city-feature{
    margin-bottom: 5px;
    
}
.i{
    
    display: inline-block;
    width: 30px;
    text-align: center;
    color: orange;
    font-size: 120%;
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
    margin-right: 10px;
}
a:link , a:visited{
    color: orange;
    text-decoration: none;
    border-bottom: 1px solid orange;
}
.section-testimonials{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(img/back-customers.jpg);
    background-size: cover;
    color: white;
    background-attachment: fixed;
}
blockquote{
    position: relative;
    padding: 2%;
    font-style: italic;
    line-height: 145%;
}
cite{
    font-size: 99%;
    margin-top: 25px;
    display: block;
    
}
blockquote::before{
    content:"\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    top: -5px;
    left: -3px;
}
cite img{
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}
.section-plans{
    background-color: #f4f4f4;
    
}
.plan-box{
    background: #fff;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    box-shadow: 0px 2px 2px #efefef;
}
.plan-box div{
    padding: 15px;
    border-bottom: 1px solid #e8e8e8;
}
.plan-price{
    font-size: 300%;
    margin-bottom: 10%;
    font-weight: 100;
    color: orange;
}
.plan-price-meal{
    font-size: 80%;
}
.plan-price span{
    font-size: 30%;
    font-weight: 300;
}
.plan-box ul{
    list-style: none;
    
}
.plan-box ul li{
    padding: 5px 0;
    
}
.plan-box div:last-child{
    text-align: center;
}
.plan-box div:first-child{
    background: #fcfcfc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}